<!DOCTYPE html>

<head>
  <title>
    <%= title %>
  </title>
  <style type="text/css">
    div {
      text-align: center;
      margin: 100px;
    }

    ul {
      list-style: none;
    }

  </style>
</head>

<body>
  <div>
    <h1>mincola</h1>
    <p>一个基于koa2，小而美的RESTful API + MVC的web开发框架！</p>
    <h2>
      <%= letter %>
    </h2>
    <ul>
      <li><a href="/token">Token demo</a></li>
    </ul>
  </div>
</body>
